<head th:fragment=header(title)>
    <meta charset="UTF-8">
    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <meta name ="viewport" content="width=device-width,inital-scale=1,user-scalable=no"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="content-language" content="zh-CN"/>
    <meta name="applicable-device" content="pc">
    <meta name="mobile-agent" content="format=html5;url= " />
    <link rel="alternate" media="only screen and(max-width: 640px)" href=" " />
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" href="../css/pc_common.css" th:href="@{/css/pc_common.css}"/>
    <link rel="stylesheet" type="text/css" href="../css/university.css" th:href="@{/css/university.css}"/>
    <link rel="stylesheet" type="text/css" href="../css/major.css" th:href="@{/css/major.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/LoginAndRegister.css}">


<!--    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>-->
<!--    <script type="text/javascript">-->
<!--        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {-->
<!--            window.location = " ";-->
<!--        }-->
<!--    </script>-->
</head>